*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    font-family: 'Crimson Text', serif;
    margin: 20px;
    min-height: 100vh;
    background-image: linear-gradient(to right,#654ea3,#eaafc8);
    flex-direction:column;
    font-size: 2rem;
}

.diyas{
    position: fixed;
    top: -1vh;
    font-size: 2rem;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

@keyframes fall {
    to{
        transform : translateY(105vh);
    }
}




h2{
    margin: 1rem 0;
    animation: MoveInRight 59.5s ease-in-out;
}


@keyframes MoveInRight {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
  
    80% {
      transform: translateX(-20px);
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }